<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar</ion-title> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none">
      <ion-input placeholder="Nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        placeholder="Telefone"
        type="number"
        [(ngModel)]="telefone"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-select placeholder="Gênero" [(ngModel)]="genero">
        <ion-select-option value="Não Declarar">Não Declarar</ion-select-option>
        <ion-select-option value="Feminino">Feminino</ion-select-option>
        <ion-select-option value="Masculino">Masculino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Data de Nascimento</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" [(ngModel)]="dataNascimento"
          display-format="DD/MM/YYYY" [mode]="'date'"
          placeholder="Selecione a data de Nascimento"
          [max]="maxDate"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
</ion-content>
